#### Import necessary libraries

In [1]:
import pandas as pd

#### Task 1

In [2]:
spotify_data = pd.read_csv("spotify-2023.csv") # Read from CSV file

In [3]:
spotify_data.info() # See all columns and their data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    object
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability          953 non-null    int64
 18  valence               953 non-null    int64
 19  energy                953 non-null    int64
 20  acousticness          953 non-null    int64
 21  instrumentalness      953 non-null    int64
 22  liveness              953 non-null    int64
 23  speechiness           953 non-null    int64
dtypes: int64(17), object(7)
memory usage: 178.8+ KB

In [4]:
X_data = spotify_data.drop(columns=['released_year','released_month','released_day']) # Delete some of columns and assign to X_data variable
Y_data = spotify_data[['released_year','released_month','released_day']]              # Assign 3 columns to Y_data variable

In [47]:
# Save data to CSV files
X_data.to_csv('X.csv', index=False)
Y_data.to_csv('Y.csv', index=False)

#### Task 2

In [6]:
# Create new column and save a string of date
spotify_data['date_string'] = spotify_data['released_year'].astype(str) + '-' + spotify_data['released_month'].astype(str) + '-' + spotify_data['released_day'].astype(str)

# Convert date_string column to date_time type variable and assign to new release_date column
spotify_data['release_date'] = pd.to_datetime(spotify_data['date_string'], format='%Y-%m-%d')

# Delete temporary column
spotify_data.drop(columns=['date_string'], inplace=True)

spotify_datetime = spotify_data.drop(columns=['released_year', 'released_month', 'released_day'])


# Group the data by year
grouped = spotify_data.groupby(spotify_data['release_date'].dt.year)

for year, group in grouped:
    # Determine the first and last dates in this group
    start_date = group['release_date'].min()
    end_date = group['release_date'].max()

    # Form the filename
    filename = f'{start_date.strftime("%Y%m%d")}_{end_date.strftime("%Y%m%d")}.csv'

    # Save the group to a separate CSV file
    group.to_csv(filename, index=False)

#### Task 3

In [7]:
# Define weeks based on the release_date column
spotify_datetime['week'] = spotify_datetime['release_date'].dt.strftime('%Y-%U')

# Group the data by week
grouped = spotify_datetime.groupby('week')

# Create and save files for each week
for week, group in grouped:
    start_date = group['release_date'].min().date()
    end_date = group['release_date'].max().date()
    output_file = f'{start_date}_{end_date}.csv'
    group.to_csv(output_file, index=False)

#### Task 4

In [48]:
target_date = pd.to_datetime('2002-05-26')

Y_data = pd.read_csv('Y.csv')

Y_data['release_date'] = pd.to_datetime(Y_data['released_year'].astype(str) + '-' + Y_data['released_month'].astype(str) + '-' + Y_data['released_day'].astype(str), format='%Y-%m-%d')

matching_rows = Y_data[Y_data['release_date'] == target_date] # Fined matching rows where date == target_date

if not matching_rows.empty:
    # Save all matching data
    matching_data = X_data.iloc[matching_rows.index]
    if not matching_data.empty:
        display(matching_data)
    else:
        print(None)
else:
    print(None)

,track_name,artist(s)_name,artist_count,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_playlists,in_deezer_charts,...,bpm,key,mode,danceability,valence,energy,acousticness,instrumentalness,liveness,speechiness
297,Superman,"Eminem, Dina Rae",2,7615,14,655466831,18,51,"1,005",0,...,130,E,Minor,80,64,76,2,0,20,6
640,'Till I Collapse,"Eminem, Nate Dogg",2,22923,0,1695712020,78,46,"2,515",1,...,171,C#,Major,55,10,85,7,0,8,20

In [9]:
target_date = '2002-00'
filtered_data_by_week = spotify_datetime[spotify_datetime['week'] == target_date]

if not filtered_data_by_week.empty:
    display(filtered_data_by_week)
else:
    print(None)

,track_name,artist(s)_name,artist_count,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_playlists,in_deezer_charts,...,mode,danceability,valence,energy,acousticness,instrumentalness,liveness,speechiness,release_date,week
143,Without Me,Eminem,1,21081,43,1687664027,98,76,"3,889",5,...,Major,92,67,66,0,0,36,9,2002-01-01,2002-00
296,Lose Yourself - Soundtrack Version,Eminem,1,32502,21,1829992958,247,54,"5,567",1,...,Major,70,6,73,1,0,36,26,2002-01-01,2002-00
658,In Da Club,50 Cent,1,30427,7,1202722675,235,106,"5,221",1,...,Minor,90,79,71,26,0,7,37,2002-01-01,2002-00

In [10]:
target_date = pd.to_datetime('2002-05-26')
filtered_data_by_ymd = spotify_datetime[spotify_datetime['release_date'] == target_date]

if not filtered_data_by_ymd.empty:
    display(filtered_data_by_ymd)
else:
    print(None)

,track_name,artist(s)_name,artist_count,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_playlists,in_deezer_charts,...,mode,danceability,valence,energy,acousticness,instrumentalness,liveness,speechiness,release_date,week
297,Superman,"Eminem, Dina Rae",2,7615,14,655466831,18,51,"1,005",0,...,Minor,80,64,76,2,0,20,6,2002-05-26,2002-21
640,'Till I Collapse,"Eminem, Nate Dogg",2,22923,0,1695712020,78,46,"2,515",1,...,Major,55,10,85,7,0,8,20,2002-05-26,2002-21